@font-face {
    font-family: 'circular';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/circular-regular.woff2');
}
@font-face {
    font-family: 'circular';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/circular-semibold.woff2');
}
@font-face {
    font-family: 'circular';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/circular-semibold.woff2');
}
@font-face {
    font-family: 'circular';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/circular-bold.woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply max-sm:text-[15px];
        -webkit-font-smoothing: antialiased;
    }

    p {
        line-height: 1.55;
    }

    /* clears the ‘X’ from Internet Explorer */
    input[type=search]::-ms-clear,
    input[type=search]::-ms-reveal {
        display: none;
        width : 0;
        height: 0;
    }
    /* clears the ‘X’ from Chrome */
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        display: none;
    }

    input, textarea {
        appearance: none;
        background: none;
        border: none;
        outline: none;
        -webkit-appearance: none;
    }
}

input[type='password']:not(.no-style),
input[type='email']:not(.no-style),
input[type='text']:not(.no-style),
input[type='number']:not(.no-style),
textarea:not(.no-style) {
    @apply ring-1 ring-slate-300 rounded-md py-2 px-3 placeholder:text-slate-400 dark:placeholder:text-gray-500 dark:bg-gray-800/70
}

input[type='password']:not(.no-style):focus,
input[type='email']:not(.no-style):focus,
input[type='text']:not(.no-style):focus,
input[type='number']:not(.no-style):focus,
textarea:not(.no-style):focus {
    @apply ring-violet-600
}

input[type='password']:disabled,
input[type='email']:disabled,
input[type='text']:disabled,
input[type='number']:disabled,
textarea:disabled {
    @apply text-slate-400 cursor-not-allowed
}

textarea {
    @apply flex resize-none overflow-hidden leading-[1.7] dark:placeholder:text-gray-500
}

button.primary,
button.secondary,
a.primary,
a.secondary {
    @apply font-medium leading-[1.4rem] py-2 px-3 rounded-md;
    font-size: calc(1rem - 1px);
}

button.primary,
a.primary {
    @apply bg-violet-600 text-white
}

button.primary:not(:disabled),
a.primary:not(:disabled) {
    @apply hover:bg-violet-700 dark:hover:bg-violet-400
}

button.secondary,
a.secondary {
    @apply ring-1 ring-slate-300 dark:bg-gray-800/70
}

button.secondary:not(:disabled),
a.secondary:not(:disabled) {
    @apply hover:bg-slate-100 dark:hover:bg-gray-800
}

button.secondary:disabled,
a.secondary:disabled {
    @apply bg-slate-100 dark:bg-gray-800/70
}

button:disabled,
a:disabled {
    @apply cursor-not-allowed opacity-60
}

.subtitle {
    @apply text-xl font-bold tracking-[-0.01em]
}

.upload-button {
    @apply cursor-pointer font-medium leading-[1.4rem] py-2 px-3 rounded-md ring-1 ring-slate-300 dark:bg-gray-800/70;
    font-size: calc(1rem - 1px);
}

.upload-button:not(:disabled) {
    @apply hover:bg-slate-100 dark:hover:bg-gray-800
}

/* DARK MODE ONLY */

.font-bold, .font-semibold {
    @apply dark:text-white
}

.divide-y, .divide-x {
    @apply dark:divide-gray-700
}

.border, .border-r, .border-b, .border-t, .border-l {
    @apply dark:border-gray-700
}

.border-violet-600 {
    @apply dark:border-violet-400
}

.ring-slate-300 {
    @apply dark:ring-gray-700
}

.ring-violet-600 {
    @apply dark:ring-violet-400
}

.bg-white {
    @apply dark:bg-gray-900
}

.bg-slate-50 {
    @apply dark:bg-gray-800
}

.bg-slate-100 {
    @apply dark:bg-gray-800
}

.bg-violet-600 {
    @apply dark:bg-violet-500
}

.text-slate-400 {
    @apply dark:text-gray-500
}

.text-violet-600 {
    @apply dark:text-violet-400
}

.text-red-600 {
    @apply dark:text-red-400
}

.semismall-text {
    font-size: calc(1rem - 1px);
}

.small-height {
    height: calc(1.25rem - 2px);
}

.small-width {
    width: calc(1.25rem - 2px);
}

.faq-opener {
    cursor: pointer;
}

.faq-opener:checked ~ p {
    display: block;
}
